
\.history/

\.vscode/

node_modules/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
dist/routes/canvasser.js
dist/routes/canvasser.js
dist/routes/canvasser.js.map
dist/routes/manager.js
dist/routes/manager.js.map
dist/util/campaignCreator.js
dist/util/campaignCreator.js.map
dist/util/canvasserTools.js
dist/util/canvasserTools.js.map
dist/util/managerTools.js
dist/util/managerTools.js.map
log/admin.log
log/application.log
log/authentication.log
log/campaign.log
log/canvass.log
