<% include ./partials/header %>

    <div class = "row">
        <div class = "col-md"></div>
        <div class = "col-md-3">Create Campaign
            <img src="../public/images/CreateCampaign.png">
        </div>
        <div class = "col-md-3">View Campaign
            <img src="../public/images/ViewCampaign.png">
        </div>
        <div class = "col-md-3">Edit Campaign
            <img src="../public/images/EditCampaign.png">
        </div>
        <div class = "col-md"></div>

        <div class = "w-100"></div>
        <div class = "col-md"></div>
        <div class = "col-md-3">Create Canvassing Assignment
            <img src="../public/images/AssignmentAdd.png">
        </div>
        <div class = "col-md-3">View Canvassing Assignment
            <img src="../public/images/ViewAssignment.png">
        </div>
        <div class = "col-md-3">View Campaign Results
            <img src="../public/images/ResultCampaign.png">
        </div>
        <div class = "col-md"></div>
    </div>

</body>
<!-- From .js, you can do document.getElementById('#id') to grab field's id and then grey it out if they don't have available tasks or dates-->
</html>