<% include ./partials/managerNav %>
	<div class="container">

        <h1>Create a Campaign</h1>
        
		<form action="/campaign" method="POST">
	  		<div class="form-group">
			    <label>Campaign Name</label>
			    <input type="text" name="campaign[campaignName]" class="form-control" placeholder="Campaign Name">
              </div>
            <div class="form-group">
                <label>Start Date</label>
                <input type="text" name="campaign[startDate]" class="form-control" placeholder="YYYY-MM-DD">
            </div>
            <div class="form-group">
                <label>End Date</label>
                <input type="text" name="campaign[endDate]" class="form-control" placeholder="YYYY-MM-DD">
            </div>           
            <div class="form-group">
                <label for="talkingPoints">Talking Points</label>
                <textarea class="form-control" id="talkingPoints" name="campaign[talkingPoints]" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="questionaire">Questionaire</label>
                <textarea class="form-control" placeholder="One question per line." id="questionaire" name="campaign[questionaire]" rows="3"></textarea>
            </div>		
            <div class="form-group">
                <label>Expected Visit Duration</label>
                <input type="text" name="campaign[averageExpectedDuration]" class="form-control" placeholder="Number of Minutes">
            </div>      		 
            <div class="form-group">
                <label for="locations">Locations</label>
                <textarea class="form-control" id="locations" name="campaign[locations]" rows="3"></textarea>
            </div>
            <div class="form-group">
                    <label for="locations">Manager</label>
                    <textarea class="form-control" placeholder="Manager Username per line" id="managers" name="campaign[managers]" rows="3"></textarea>
                </div>  
            <div class="form-group">
                <label for="locations">Canvassers</label>
                <textarea class="form-control" placeholder="Canvasser Username per line" id="canvassers" name="campaign[canvassers]" rows="3"></textarea>
            </div>      
  	
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>

	</div>
<% include ./partials/footer %>