<% include ./partials/adminNav %>

	<div class="container">

        <% if (message !== "") { %>
            <div class="alert alert-warning"> 
                <strong>Warning!</strong> <%= message %> 
            </div> 
        <% } %> 

        <h1>Add a User</h1>
        
        
		<form action="/user" method="POST">
	  		<div class="form-group">
			    <label>Username</label>
			    <input type="text" name="user[username]" class="form-control" placeholder="Username">
              </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="user[name]" class="form-control" placeholder="Username">
            </div>
		    <div class="form-group">
			    <label>Password</label>
			    <input type="password" name="user[password]" class="form-control" placeholder="Password">
              </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Role</label>
                </div>
                <select name="user[role]" class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Campaign Manager</option>
                    <option value="2">Canvasser</option>
                    <option value="3">System Administrator</option>
                </select>
            </div>
		  	
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>

	</div><!-- Close container -->

<% include ./partials/footer %>