<% include ./partials/adminNav %>

	<div class="container">

        <h1>Edit Globals</h1>
        
		<form action="/admin/globals" method="POST">
	  		<div class="form-group">
			    <label>Max Duration of Daily Task in Mins</label>
			    <input type="text" name="global[taskLimit]" placeholder="Mins" class="form-control" value="<%= taskLimit %>">
              </div>
		    <div class="form-group">
			    <label>Average Canvasser Travel Speed in Meters per Hour</label>
			    <input type="text" name="global[avgSpeed]" placeholder="Meters per Hour"  class="form-control" value="<%= avgSpeed %>" >
              </div>
		  	
		  <button type="submit" class="btn btn-default">Update</button>
		</form>

	</div><!-- Close container -->

<% include ./partials/footer %>