<% include ./partials/header %>


<!-- .inline-headers h3, .inline-headers h4 {
  display: inline-block;
  vertical-align: baseline;
}-->
    <div style="position:relative;max-width:100%">
      <div class="row no-container" id = "remainingScreenNotWindowsBarTop" style="height:80%;border:1px solid black">
        <div class="col-lg-4 col-sm-4 text-center" style="border:1px solid black;background-color:#0c7cba;color:white"
        onclick="document.getElementById('campaignForm').submit()" id="campaignIdContainer" onmouseover="darkenCampaign()" onmouseout="campaignNormal()">
         <span class=" mt-5">Campaign Manager</span>
          <form action = "/campaignManager" id="campaignForm" method="GET">
          </form>
        </div>
        <div class="col-lg-4 col-sm-4 text-center" style="border:1px solid black;background-color:#7ab468;color:white" 
        onclick="document.getElementById('canvasserForm').submit()" id ="canvasserIdContainer" onmouseover="darkenCanvasser()" onmouseout="canvasserNormal()">
        <span class=" mt-5">Canvasser</span> <!-- disable canvasser and system admin if no privileges or grey out-->
          <form action = "/canvasser" id="canvasserForm" method="GET">
          </form>
        </div>
        <div class="col-lg-4 col-sm-4 text-center" style="border:1px solid black;background-color:#ba7e16;color:white"
        onclick="document.getElementById('adminForm').submit()" id="adminIdContainer" onmouseover="darkenSysAdmin()" onmouseout="sysAdminNormal()">
        <span class=" mt-5">System Administrator</span>
          <form action = "/system_administrator" id="adminForm" method="GET">
          </form>
        </div>
        
    </div>

    <script>
        function darkenCampaign(){
            document.getElementById("campaignIdContainer").style.backgroundColor="#1f93d2";
        }
        function campaignNormal(){
            document.getElementById("campaignIdContainer").style.backgroundColor="#0c7cba";
        }
        function darkenCanvasser()
        {
            document.getElementById("canvasserIdContainer").style.backgroundColor= "73bd38";
        }
        function canvasserNormal()
        {
            document.getElementById("canvasserIdContainer").style.backgroundColor="#7ab468";
        }
        function darkenSysAdmin()
        {
            document.getElementById("adminIdContainer").style.backgroundColor="#ac710c";
        }
        function sysAdminNormal()
        {
            document.getElementById("adminIdContainer").style.backgroundColor="#ba7e16";
        }
        </script>
</body>
<!-- From .js, you can do document.getElementById('#id') to grab field's id and then grey it out if they don't have the correct privilege-->
</html>